.wrapper {
    display: grid;  
    grid-gap: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 4vh 47vh 47vh 2vh;
    grid-template-columns: 150px calc(50vw - 150px) calc(50vw - 150px) 150px;
    grid-template-areas:
        "header header header header"
        "leftsidebar leftpanel pages rightsidebar"
        "leftsidebar leftpanel pages rightsidebar"
        "footer footer footer footer";
    background-color: rgba(100,100,100,1) ;
    color: #444;
}

.header{
    grid-area: header;
    background: linear-gradient(rgba(119,146,146), rgba(0,100,0,0));
}

.leftsidebar {
    grid-area: leftsidebar;
    background: rgba(0,101,101);
}

.rightsidebar {
    grid-area: rightsidebar;
    background: rgba(168,76,0);
}

.leftpanel {
    grid-area: leftpanel;
    /* background: purple; */
    background: rgba(0,101,101);
}

.footer {
    grid-area: footer;
    background: black;
}

.pages {
    grid-area: pages;
    background: rgba(168,112,0);
}

.button{
    display: inline-block;
    background: black;
    color: white;
    width: 20rem;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid white;
}

.input{
    padding: 5px; 
    margin-left: 10px;
    margin-right: 10px;
    border-width: 2px;
}