.wrapper {
    display: grid;  
    grid-gap: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 4vh 47vh 47vh 2vh;
    grid-template-columns: 150px auto auto 150px;
    grid-template-areas:
        "header header header header"
        "leftsidebar addresses pages rightsidebar"
        "leftsidebar addresses pages rightsidebar"
        "footer footer footer footer";
    background-color: rgba(100,100,100,1) ;
    color: #444;
}

.header{
    grid-area: header;
    background: linear-gradient(rgba(0,100,0,1), rgba(0,100,0,0));
}

.leftsidebar {
    grid-area: leftsidebar;
    background: rgba(255, 255, 255, 0.5);
}

.rightsidebar {
    grid-area: rightsidebar;
    background: rgba(255, 255, 255, 0.5);
}

.addresses {
    grid-area: addresses;
    /* background: purple; */
    background: rgba(100, 200, 50, 0.5);
}

.footer {
    grid-area: footer;
    background: black;
}

.pages {
    grid-area: pages;
    background: rgba(50, 100, 100, 0.5);
}

